<gem-demis-max-height-content-container [elementSelectorsToSubtract]="['app-navbar']">
  <div class="subpage-wrapper">
    <main class="subpage-content" role="main">
      <div class="container">
    <h1 id="accessibility-statement-title" class="page-title" style="margin-top: 20px">Erklärung zur Barrierefreiheit</h1>
    <p>
      Das Robert Koch-Institut ist bemüht, diese Website im Einklang mit den Bestimmungen des
      Behindertengleichstellungsgesetzes des Bundes (BGG) sowie der Barrierefreien-Informationstechnik-Verordnung (BITV
      2.0) zur Umsetzung der Richtlinie (EU) 2016/2102 nach Möglichkeit bis Ende 2026 barrierefrei zugänglich zu machen.
      Ein Test durch den unabhängigen BITV-Test-Prüfverbund wird angestrebt und die Testergebnisse dann an dieser Stelle
      veröffentlicht.
    </p>
  <p>
    Diese Erklärung zur digitalen Barrierefreiheit gilt für das aktuell über <a
    href="https://meldung.demis.rki.de/portal/"
    target="_blank" rel="noopener noreferrer" aria-label="Webseite des Robert Koch-Instituts in neuem Tab öffnen"
    style="text-decoration: underline">https://meldung.demis.rki.de/portal/</a> erreichbare DEMIS-Meldeportal.
  </p>
  <h2 style="margin-top: 20px">
    Inhaltsverzeichnis
  </h2>
  <nav aria-label="Inhaltsverzeichnis">
    <ul>
      <li><a href="#stand">Stand der Vereinbarkeit mit den Anforderungen</a>
        <ul>
          <li><a href="#nicht-barrierefrei">Nicht barrierefreie Inhalte</a></li>
          <li><a href="#erstellung">Erstellung dieser Erklärung zur Barrierefreiheit</a></li>
        </ul>
      </li>
      <li><a href="#feedback">Feedback und Kontaktangaben</a></li>
      <li><a href="#schlichtung">Schlichtungsverfahren</a></li>
    </ul>
  </nav>
  <section id="stand">
    <h2>Stand der Vereinbarkeit mit den Anforderungen</h2>
    <p class="stand">Diese Website ist wegen der folgenden Ausnahmen teilweise nicht mit dem BGG und der
      BITV 2.0
      vereinbar.</p>
  </section>

  <section id="nicht-barrierefrei">
    <h2>Nicht barrierefreie Inhalte</h2>
    <p>Die nachstehend aufgeführten Inhalte sind wegen Unvereinbarkeit mit dem BGG und der BITV 2.0 nicht
      barrierefrei und sollen bis Ende 2026 barrierefrei gestaltet werden:</p>
    <ul>
      <li>PDF-Datei: Die nach Absetzen der Meldung zur Verfügung gestellte Meldungsquittung als PDF ist
        nicht barrierefrei.
      </li>
      <li>Bilder (Icons) werden nur dekorativ eingesetzt</li>
      <li>Es sind keine audio-visuellen Medien eingebunden</li>
      <li>Erläuterungen in Deutscher Gebärdensprache stehen auf der Webseite nicht zur Verfügung.</li>
      <li>Erläuterungen in Leichter Sprache stehen auf der Webseite nicht zur Verfügung.</li>
      <li>Screenreader:
        <ul>
          <li>Es gibt Überschriften, die nicht als solche ausgezeichnet sind</li>
          <li>Nicht alle Schaltflächen haben einen wahrnehmbaren Text (z.B. Delete und Remove Icon)</li>
          <li>Nicht alle Formular-Elemente haben eine Beschriftung</li>
          <li>Nicht alle Input-Felder haben einen zugänglichen Namen</li>
          <li>Nicht alle Bereiche sind durch Landmarks gekennzeichnet</li>
          <li>Es gibt Links ohne Linktext</li>
        </ul>
      </li>
      <li>Tab-Navigation:
        <ul>
          <li>Es gibt Elemente, deren Tab-Index nicht korrekt definiert ist</li>
          <li>Tab-Navigation entspricht noch nicht der gewünschten Reihenfolge</li>
        </ul>
      </li>
      <li>Für einige Texte ist der Kontrast nicht ausreichend</li>
    </ul>
  </section>

  <section id="erstellung">
    <h2>Erstellung dieser Erklärung zur Barrierefreiheit</h2>
    <p>Diese Erklärung wurde am <strong>06.02.2026</strong> erstellt.</p>
  </section>

  <section id="feedback" class="contact">
    <h2>Feedback und Kontaktangaben</h2>
    <p>Sind Ihnen Mängel beim barrierefreien Zugang zu Inhalten des DEMIS-Meldeportals aufgefallen? Dann können Sie sich
      gerne bei uns melden.</p>

    <p>
      DEMIS-Geschäftsstelle<br>
      Robert Koch-Institut<br>
      Seestr. 10<br>
      13353 Berlin
    </p>

    <p>E-Mail: <a href="mailto:demis@rki.de">demis&#64;rki.de</a></p>
  </section>

  <section id="schlichtung" class="contact">
    <h2>Schlichtungsverfahren</h2>
    <p>Beim Beauftragten der Bundesregierung für die Belange von Menschen mit Behinderungen gibt es eine
      Schlichtungsstelle gemäß § 16 BGG.</p>

    <p>Die Schlichtungsstelle hat die Aufgabe, Konflikte zwischen Menschen mit Behinderungen und öffentlichen Stellen
      des Bundes zu lösen. Sie können die Schlichtungsstelle einschalten, wenn Sie mit den Antworten aus der oben
      genannten Kontaktmöglichkeit nicht zufrieden sind. Es ist das Ziel, mit Hilfe der Schlichtungsstelle gemeinsam und
      außergerichtlich eine Lösung für ein Problem zu finden.</p>

    <p>Das Schlichtungsverfahren ist kostenlos. Sie brauchen auch keinen Rechtsbeistand.</p>

    <p>Auf der Webseite der Schlichtungsstelle finden Sie alle Informationen zum Schlichtungsverfahren. Dort können Sie
      nachlesen, wie ein Schlichtungsverfahren abläuft und wie Sie den Antrag auf Schlichtung stellen. Sie können den
      Antrag auch in Leichter Sprache oder in Deutscher Gebärdensprache stellen.</p>

    <p>Sie erreichen die Schlichtungsstelle unter folgender Adresse:</p>

    <p>Schlichtungsstelle nach dem Behindertengleichstellungsgesetzbuch<br>
      bei dem Beauftragten der Bundesregierung für die Belange von Menschen mit Behinderungen<br>
      Mauerstraße 53<br>
      10117 Berlin
    </p>

    <p>Telefon: (030) 18 527-2805<br>
      Fax: (030) 18 527-2901<br>
      E-Mail: <a href="mailto:info@schlichtungsstelle-bgg.de">info&#64;schlichtungsstelle-bgg.de</a>
    </p>
  </section>
      </div>
  </main>
  <app-footer></app-footer>
  </div>
</gem-demis-max-height-content-container>

