<div class="container">
  <h1 class="display-4 my-4 py-4">Impressum</h1>
  <h3>Herausgeber</h3>
  <p>
    <b>Robert Koch-Institut</b><br />
    Nordufer 20<br />
    13353 Berlin
  </p>
  <p>Vertreten durch den Präsidenten</p>
  <h4>Verantwortlich i.S.d. Rundfunkstaatsvertrages</h4>
  <p>
    Michaela Diercke<br />
    Fachgebiet Surveillance – ÖGD-Kontaktstelle
  </p>
  <p>
    Kontakt E-Mail: <a href="mailto:demis@rki.de">demis&#64;rki.de</a><br />
    Umsatzsteueridentifikationsnummer DE 165 893 430
  </p>
  <h4>Hosting</h4>
  <p>adesso as a service GmbH</p>
  <h3>Haftungsausschluss</h3>
  <p>
    Die Inhalte, die über die Internetseiten des Robert Koch-Instituts zur Verfügung gestellt werden, dienen
    ausschließlich der allgemeinen Information der Öffentlichkeit, vorrangig der Fachöffentlichkeit.
  </p>
  <p>
    Das Robert Koch-Institut übernimmt keine Verantwortung für die Richtigkeit und Vollständigkeit der
    Informationen, für Abweichungen der Programminhalte von Originaltexten, Übertragungsfehler von
    Schriftstücken und Irrtümer bei Dokumenten, die für die Internetseiten erstellt wurden, sowie unbefugte
    Veränderung der Angaben auf dem Server durch Dritte.
  </p>
  <p>
    Die Inhalte dieser Internetseiten dienen nicht der Erteilung medizinischer oder anderer Ratschläge oder
    Anweisungen in Bezug auf Arzneimittel oder bestimmten Therapien. Die Informationen stellen keine
    Alternative zur Beratung durch einen Arzt oder Apotheker dar. Wer Rat zu spezifischen Gesundheitsproblemen
    benötigt, wendet sich bitte ausschließlich an den Arzt.
  </p>
  <p>
    Soweit die Angaben Schriftstücken entnommen wurden, ersetzen sie diese nicht. Für verbindliche Angaben
    sollte auf die Schriftstücke selbst zurückgegriffen werden. Gesetze und Verordnungen sind nur gültig und
    finden Anwendung entsprechend ihrer jeweils aktuellen Fassung, die im einschlägigen amtlichen
    Verkündungsorgan (insbesondere Bundesgesetzblatt und Bundesanzeiger) veröffentlicht ist.
  </p>
  <p>
    Die Nennung von Produkten und/oder Verfahren bedeutet keine Empfehlung oder Aussage zu deren Qualität und
    begründet daher keine diesbezügliche Haftung.
  </p>
  <p>
    Die Bildschirmdarstellung der vorliegenden Inhalte kann durch unterschiedliche Browser- und
    Betriebssystemeinstellungen variieren. Bedingt durch die Übertragung und Darstellung der Daten kann es zu
    Abweichungen gegenüber den zugrundeliegenden Veröffentlichungen kommen.
  </p>
  <p>
    Über die auf den Internetseiten des Robert Koch-Instituts vorhandenen Links verlassen Sie das Angebot des
    Robert Koch-Instituts. Das Robert Koch-Institut macht sich die Inhalte dieser Seiten ausdrücklich nicht zu
    eigen und übernimmt für deren Inhalte keine Gewährleistung.
  </p>
  <h3>Copyright</h3>
  <p>
    Die Internetseiten sind Eigentum des Robert Koch-Instituts. Die Verwendung, Vervielfältigung,
    Weiterverbreitung, Übersetzung, Mikroverfilmung, Einspeicherung und Verarbeitung in elektronischen
    Systemen zu kommerziellen Zwecken oder sonstige Verwertung ist nur im Rahmen der geltenden rechtlichen
    Vorschriften, insbesondere des Urheberrechtsgesetzes, zulässig.
  </p>
  Stand: 22.04.2021

  <p></p>
</div>
