<div class="container">
  <h1 class="display-4 my-4 py-4">
    Deutsches Elektronisches Melde- und Informationssystem für den Infektionsschutz (DEMIS)
  </h1>
  <p>
    Das Deutsche Elektronische Melde- und Informationssystem für den Infektionsschutz (DEMIS) ermöglicht bundesweit die elektronische Meldung gemäß Infektionsschutzgesetz (IfSG). Über das DEMIS-Meldeportal können Meldepflichtige Meldungen gemäß IfSG über ein Online-Formular absetzen. Nähere Informationen zu DEMIS finden Sie hier: <a href="https://wiki.gematik.de/display/DSKB" target="_blank" rel="noopener noreferrer">DEMIS-Wissensdatenbank</a>.
  </p>
</div>
