.toolbar-spacer {
  flex: 1 1 auto;
}

// sets submenu width to button width - DEPRECATED - can be removed when FEATURE_FLAG_PORTAL_HEADER_FOOTER is removed
::ng-deep .menu-width_pathogen {
  min-width: 336px !important;
}

::ng-deep .menu-width_disease {
  min-width: 216px !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding-right: 40px;
  padding-left: 23px; //40-17px from Logo left-margin
  background-color: var(--color-white);
}

.navbar-tab-group {
  a {
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    &:hover {
      background-color: var(--color-neutral-lighter);
    }
  }

  .navbar-menu-btn {
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 21px;
    padding-top: 3px;
    font-size: 17px;
  }

  .mat-icon {
    font-size: 24px;
    margin-bottom: 8px;
  }

  #btn-burger-menu-in-navbar {
    .mat-mdc-button-persistent-ripple {
      border-radius: 0;
    }
  }

  //"abmelden"/"anmelden"/"menu"
  .btn-navbar-auth,
  .menu-button {
    font-size: 17px;

    &:hover {
      background-color: var(--color-neutral-lighter);
    }
  }

  .active-tab {
    font-weight: bold;
  }

  .inactive-tab {
    border-bottom: 3px solid transparent;
  }
}


.btn-navbar-auth.mdc-button {
  border-radius: 16px !important;
  border: 1px solid var(--color-black);
}

.menu-button {
  margin-right: 20px;
}

#img-local-indicator-logo {
  height: 32px;
  width: auto;
  margin-right: 8px;
}

#home-button {
  display: inline-flex;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
  height: 55px;
  align-items: center;
  justify-content: center;
  //Callout bold
  line-height: 34px;

  #img-demis-logo {
    margin: 0;
    margin-top: 14px;
    height: 48px;
  }

  &:hover {
    background-color: var(--color-neutral-lighter);
  }
}

.navbar-to-content-divider {
  border-color: var(--color-demis-gray);
  margin-top: -1px;
  position: relative;
  z-index: 999;
}

.menu-header {
  pointer-events: none;
  user-select: none;
  align-content: center;
  background: var(--color-neutral-light);
  font-size: 14px;
  font-weight: 600;
  padding: 16px 16px;
}

.menu-divider {
  border-top-color: var(--color-black);
  padding-top: 8px;
}

// needs overwrite because of angular material default padding
::ng-deep .burger-menu .mat-mdc-menu-content {
  padding-top: 0 !important;
}

//accessibility focus and tab focus
#home-button:focus,
#home-button:focus-visible,
.btn-navbar-auth:focus,
.btn-navbar-auth:focus-visible,
.menu-button:focus,
.menu-button:focus-visible,
{
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
