@import 'src/styles/colors';

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  height: auto;
  //TODO: workaround: --mat-app-background-color: #faf9fd; is set explicitly and unset makes it white again/default which will be default in future
  background-color: $color-white;
}
.app-navbar-demis {
  //SubNav ("Krankheit melden",...)
  .mat-mdc-tab-link {
    &:hover {
      background-color: $color-neutral-lighter;
    }
  }

  #btn-burger-menu-in-navbar {
    .mat-mdc-button-persistent-ripple {
      border-radius: 0;
    }
  }

  //"abmelden"/"anmelden"
  .btn-navbar-auth {
    &:hover {
      background-color: $color-neutral-lighter;
      border-radius: 0;
    }
  }

  .active-tab {
    border-bottom: 3px solid $color-secondary-dark100;
    border-radius: 0;
    font-weight: bold;
  }

  .inactive-tab {
    border-bottom: 3px solid transparent;
    border-radius: 0;
  }

  .vertical-section-divider {
    border-right-color: var(--color-demis-stroke);
    border-right-width: 1px;
    border-right-style: solid;
    height: 40px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

#img-local-indicator-logo {
  height: 32px;
  width: auto;
  margin-right: 8px;
}

#home-button {
  display: inline-flex;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
  align-items: center;
  justify-content: center;
  //Callout bold
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--color-primary);

  #img-demis-logo {
    color: var(--color-primary);
    margin-right: 8px;
    height: 24px;
    width: auto;
  }

  &:hover {
    background-color: $color-neutral-lighter;
    border-radius: 0;
  }
}

.navbar-to-content-divider {
  border-color: var(--color-demis-gray);
  margin-top: -1px;
  position: relative;
  z-index: 999;
}
