@import 'src/styles/colors';

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  //TODO: workaround: --mat-app-background-color: #faf9fd; is set explicitly and unset makes it white again/default which will be default in future
  background-color: $color-white;
}

.navbar-tab-group {
  a {
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    &:hover {
      background-color: $color-neutral-lighter;
    }
  }

  #btn-non-nominal {
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 21px;
    padding-top: 3px;
    font-size: 17px;
  }

  .mat-icon {
    font-size: 24px;
    margin-bottom: 8px;
  }

  #btn-burger-menu-in-navbar {
    .mat-mdc-button-persistent-ripple {
      border-radius: 0;
    }
  }

  //"abmelden"/"anmelden"
  .btn-navbar-auth {
    font-size: 17px;

    &:hover {
      background-color: $color-neutral-lighter;
    }
  }

  .active-tab {
    font-weight: bold;
  }

  .inactive-tab {
    border-bottom: 3px solid transparent;
  }
}

#img-local-indicator-logo {
  height: 32px;
  width: auto;
  margin-right: 8px;
}

#home-button {
  display: inline-flex;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
  height: 55px;
  align-items: center;
  justify-content: center;
  //Callout bold
  line-height: 34px;

  #img-demis-logo {
    margin: 0;
    margin-top: 14px;
    height: 48px;
  }

  &:hover {
    background-color: $color-neutral-lighter;
  }
}

.navbar-to-content-divider {
  border-color: var(--color-demis-gray);
  margin-top: -1px;
  position: relative;
  z-index: 999;
}
