<ng-template #tileContent>
  <div id="tile-content-{{ config().id }}" class="tile-content no-text-select"
    [attr.title]="config().tooltip">
    <img id="tile-logo-{{ config().id }}" class="tile-logo" aria-hidden="true" focusable="false"
      [attr.src]="config()?.logoImage!.src" [attr.alt]="" />
    <section id="tile-row-{{ config().id }}" class="tile-row" aria-hidden="true">
      <h2 id="tile-title-{{ config().id }}" class="tile-title">
        {{ config().titleTextRows.join(' ') }}
      </h2>
      <p id="tile-title-text-{{ config().id }}" class="tile-title-text">
        {{ config().contentParagraphs[0] }}
      </p>
    </section>
    <mat-icon id="tile-icon_{{ getIconType() }}-{{ config().id }}" class="tile-icon">
      {{ getIconName() }}
    </mat-icon>
  </div>
</ng-template>

@if (!isTileExpandable()) {
  <button (click)="handleTileClick()" (keydown.enter)="handleTileClick()" (keydown.space)="handleTileClick()"
    [id]="'tile-button-' + config().id" class="tile-button not-expandable mat-elevation-z1"
    [attr.aria-label]="config().titleTextRows.join(' ') + ' - ' + config().contentParagraphs[0]">
    <ng-container *ngTemplateOutlet="tileContent" />
  </button>
}
@else {
  <mat-expansion-panel
    [id]="'tile-button-' + config().id" class="tile-button"
    [attr.aria-label]="config().titleTextRows.join(' ') + ' - ' + config().contentParagraphs[0]"
    [attr.title]="config().tooltip" (click)="toggleExpand.emit()" (keydown.enter)="toggleExpand.emit()"
    (keydown.space)="toggleExpand.emit()" [expanded]="isExpanded()" hideToggle>
    <mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="tileContent" />
    </mat-expansion-panel-header>

    <div class="sub-tiles-container" id="sub-tiles-container-{{ config().id }}">
      @for (subTile of config().subTiles; track $index) {
        @if (subTile.renderingCondition) {
        <button (click)="navigateTo(subTile.config?.destinationRouterLink)"
          class="sub-tile-button"
          [attr.title]="subTile.config.tooltip"
          [attr.aria-label]="subTile.config.titleTextRows + ' - ' + subTile.config.contentParagraphs[0]"
          id="sub-tile-button-{{ subTile.config.id }}">
          <div class="tile-content">
            <div id="tile-row-{{ config().id }}-{{ subTile.config.id }}" class="tile-row" aria-hidden="true">
              <h3 id="sub-tile-heading-{{ config().id }}-{{ subTile.config.id }}" class="sub-tile-heading">
                {{ subTile.config.titleTextRows }}
              </h3>
              <p id="sub-tile-text-{{ config().id }}-{{ subTile.config.id }}" class="sub-tile-text">
                {{ subTile.config.contentParagraphs[0] }}
              </p>
            </div>
            <mat-icon id="tile-icon_chevron-right-logo-{{ subTile.config.id }}" class="tile-icon">chevron_right
            </mat-icon>
          </div>
        </button>
        }
      }
    </div>
  </mat-expansion-panel>
}
