<mat-card id="tile-card-{{ config.id }}" [ngClass]="{ 'tile-card': true, animated }" (click)="router.navigateByUrl(config.destinationRouterLink)"
  [attr.title]="config.tooltip">
  <mat-card-title id="tile-title-{{ config.id }}" class="tile-title">
    <img mat-card-image id="tile-logo-{{ config.id }}" class="tile-logo" [attr.src]="config.logoImage.src" [attr.alt]="config.logoImage.alt" />

    <div id="tile-title-text-{{ config.id }}" class="tile-title-text">
      @for (titleText of config.titleTextRows; track titleText) {
        <div>{{ !!titleText ? titleText : '&nbsp;' }}</div>
      }
    </div>
  </mat-card-title>

  <mat-card-content id="tile-content-{{ config.id }}" class="tile-content">
    <div id="tile-content-paragraphs-{{ config.id }}" class="tile-content-paragraphs">
      @for (paragraphContent of config.contentParagraphs; track $index) {
      <p id="tile-content-paragraph-{{ config.id }}-{{ $index }}" class="tile-content-paragraph">{{ paragraphContent }}</p>
      }
    </div>
  </mat-card-content>

  <mat-card-actions id="tile-actions-{{ config.id }}" class="tile-actions">
    <button mat-button id="action-button-{{ config.id }}" color="primary">
      {{ config.buttonLabel }}
    </button>
  </mat-card-actions>
</mat-card>