// #region DEMIS-Colors-and-Palettes

:root{
  --color-demis-blue: rgb(0, 94, 184);
  --color-demis-gray: rgb(145, 157, 157);
  --color-demis-white: rgb(255, 255, 255);
  --color-demis-black: rgb(0, 3, 3);
  --color-demis-focused-background: rgba(148, 151, 227, 0.05);
  --color-demis-stroke: rgba(0, 3, 3, 0.12);
  // TODO: integrate in consistent styling/theming
  --gem-demis-primary-color: rgb(0, 14, 82);
  --gem-demis-border-color: rgb(89, 89, 89);
  --gem-demis-text-color: rgb(89, 89, 89);
  --gem-demis-line-height-offset: 0.1rem;
  --gem-demis-icon-to-text-padding: 8px;
  --gem-demis-error-color: var(--mat-form-field-error-text-color);
  --gem-demis-success-color: green;
}

// DEMIS-Blau: Pantone 300 C https://www.pantone.com/color-finder/300-C
$color-demis-blue: var(--color-demis-blue);

// DEMIS-Grau: Pantone 443 C https://www.pantone.com/color-finder/443-C
$color-demis-gray: var(--color-demis-gray);

// more DEMIS colors (to be used instead of system colors)
$color-demis-white: var(--color-demis-white);
$color-demis-black: var(--color-demis-black);
$color-demis-focused-background: var(--color-demis-focused-background);
$color-demis-stroke: var(--color-demis-stroke);

// For more information: https://material.angular.io/guide/theming
// and https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
// Palette Generator: https://material.io/design/color/#tools-for-picking-colors

$mat-demis-green-palette: (
  50: #e2fce3,
  100: #94ff87,
  200: #74e966,
  300: #6bd75f,
  400: #13c100,
  500: #12b000,
  600: #129d00,
  700: #148c01,
  800:  $color-demis-blue,
  900: #0d4f00,
  A100: #ddffba,
  A200: #6bd75f,
  A400: #13c100,
  A700: #129d00,
  contrast: (
    50:   rgba($color-demis-black, .87),
    100:  rgba($color-demis-black, .87),
    200:  rgba($color-demis-black, .87),
    300:  rgba($color-demis-black, .87),
    400:  rgba($color-demis-black, .87),
    500:  rgba($color-demis-black, .87),
    600:  $color-demis-white,
    700:  $color-demis-white,
    800:  $color-demis-white,
    900:  $color-demis-white,
    A100: rgba($color-demis-black, .87),
    A200: rgba($color-demis-black, .87),
    A400: rgba($color-demis-black, .87),
    A700: $color-demis-white
  )
);
$mat-demis-blue-palette: (
  50:   #e2f1fc,
  100:  #b9dcf8,
  200:  #8cc6f4,
  300:  #5fb0ef,
  400:  #3a9fed,
  500:  #0e8fea,
  600:  #0b82dd,
  700:  #0470ca,
  800:  $color-demis-blue,
  900:  #004299,
  A100: #b9dcf8,
  A200: #8cc6f4,
  A400: #3a9fed,
  A700: #0470ca,
  contrast: (
    50:   rgba($color-demis-black, .87),
    100:  rgba($color-demis-black, .87),
    200:  rgba($color-demis-black, .87),
    300:  rgba($color-demis-black, .87),
    400:  rgba($color-demis-black, .87),
    500:  rgba($color-demis-black, .87),
    600:  $color-demis-white,
    700:  $color-demis-white,
    800:  $color-demis-white,
    900:  $color-demis-white,
    A100: rgba($color-demis-black, .87),
    A200: rgba($color-demis-black, .87),
    A400: rgba($color-demis-black, .87),
    A700: $color-demis-white
  )
);
$mat-demis-gray-palette: (
  50:   #eaeded,
  100:  #d1d4d4,
  200:  #b3b8b8,
  300:  $color-demis-gray,
  400:  #788989,
  500:  #5f7575,
  600:  #546666,
  700:  #455253,
  800:  #374040,
  900:  #272b2b,
  A100: #d4d4d4,
  A200: #b3b8b8,
  A400: #788989,
  A700: #455253,
  contrast: (
    50:   rgba($color-demis-black, .87),
    100:  rgba($color-demis-black, .87),
    200:  rgba($color-demis-black, .87),
    300:  rgba($color-demis-black, .87),
    400:  rgba($color-demis-black, .87),
    500:  rgba($color-demis-black, .87),
    600:  $color-demis-white,
    700:  $color-demis-white,
    800:  $color-demis-white,
    900:  $color-demis-white,
    A100: rgba($color-demis-black, .87),
    A200: rgba($color-demis-black, .87),
    A400: rgba($color-demis-black, .87),
    A700: $color-demis-white
  )
);
$mat-demis-yellow-palette: (
  50:   #fefce7,
  100:  #fcf7c4,
  200:  #faf29d,
  300:  #f9ec76,
  400:  #f6e858,
  500:  #f4e23b,
  600:  #f4d238,
  700:  #f2bb30,
  800:  #efa428,
  900:  #ea7c1a,
  A100: #fcf7c4,
  A200: #faf29d,
  A400: #f6e858,
  A700: #f2bb30,
  contrast: (
    50:   rgba($color-demis-black, .87),
    100:  rgba($color-demis-black, .87),
    200:  rgba($color-demis-black, .87),
    300:  rgba($color-demis-black, .87),
    400:  rgba($color-demis-black, .87),
    500:  rgba($color-demis-black, .87),
    600:  rgba($color-demis-black, .87),
    700:  rgba($color-demis-black, .87),
    800:  rgba($color-demis-black, .87),
    900:  $color-demis-white,
    A100: rgba($color-demis-black, .87),
    A200: rgba($color-demis-black, .87),
    A400: rgba($color-demis-black, .87),
    A700: rgba($color-demis-black, .87)
  )
);

// #endregion DEMIS-Colors-and-Palettes
