@use '@angular/material' as mat;
@import 'demis-color-and-palettes';

// Create palettes for light theme
/* stylelint-enable value-keyword-case */
$demis-notification-portal-light-primary: mat.m2-define-palette($mat-demis-blue-palette, 800, 400, 900);
$demis-notification-portal-light-accent: mat.m2-define-palette($mat-demis-yellow-palette, A700, A400, A700);
$demis-notification-portal-light-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette, A700);
/* stylelint-disable value-keyword-case */

// custom background and foreground palettes
// according to Angular Material's _theming.scss

$demis-light-theme-foreground: (
  base:              map-get($mat-demis-gray-palette, 900),
  divider:           rgba($color-demis-black, .12),
  dividers:          rgba($color-demis-black, .12),
  disabled:          rgba($color-demis-black, .38),
  disabled-button:   rgba(map-get($mat-demis-gray-palette, 900), .26),
  disabled-text:     rgba($color-demis-black, .38),
  elevation:         map-get($mat-demis-gray-palette, 900),
  hint-text:         rgba($color-demis-black, .38),
  secondary-text:    rgba($color-demis-black, .54),
  icon:              rgba(map-get($mat-demis-gray-palette, 900), .54),
  icons:             rgba(map-get($mat-demis-gray-palette, 900), .54),
  text:              rgba($color-demis-black, .87),
  slider-min:        rgba(map-get($mat-demis-gray-palette, 900), .87),
  slider-off:        rgba(map-get($mat-demis-gray-palette, 900), .26),
  slider-off-active: rgba(map-get($mat-demis-gray-palette, 900), .38),
  navbar-demis:      $color-demis-white
);
$demis-light-theme-background: (
  status-bar:               map-get($mat-demis-gray-palette, 300),
  app-bar:                  map-get($mat-demis-gray-palette, 50),
  // Dieser Wert wird auch für CheckBox Haken als .theme-demis-light .mat-checkbox-checkmark-path genutzt
  background:               $color-demis-white,
  hover:                    rgba(map-get($mat-demis-gray-palette, 900), .04),
  card:                     $color-demis-white,
  dialog:                   $color-demis-white,
  disabled-button:          rgba(map-get($mat-demis-gray-palette, 900), .12),
  raised-button:            $color-demis-white,
  focused-button:           rgba($color-demis-black, .12),
  selected-button:          map-get($mat-demis-gray-palette, 300),
  selected-disabled-button: map-get($mat-demis-gray-palette, 400),
  disabled-button-toggle:   map-get($mat-demis-gray-palette, 200),
  unselected-chip:          map-get($mat-demis-gray-palette, 300),
  disabled-list-option:     map-get($mat-demis-gray-palette, 200),
  navbar-demis:             $color-demis-blue
);

// Create the light theme
$demis-notification-portal-light-theme: (
  primary: $demis-notification-portal-light-primary,
  accent: $demis-notification-portal-light-accent,
  warn: $demis-notification-portal-light-warn,
  is-dark: false,
  foreground: $demis-light-theme-foreground,
  background: $demis-light-theme-background
);
