<div class="container">
  <h1 class="display-4 my-4 py-4" id="title-privacy-policy">Datenschutzerklärung für Nutzer des DEMIS</h1>
  <p>
    Das Robert Koch-Institut unterliegt als Bundesbehörde den Bestimmungen der 
    EU Datenschutz-Grundverordnung (DSGVO) und des Bundesdatenschutzgesetzes 
    (BDSG). Näheres zu den Aufgaben des RKI, dem Betrieb des Elektronischen 
    Melde- und Informationssystems (Deutsches Elektronisches Melde- und
    Informationssystem für den Infektionsschutz - DEMIS) und der Verarbeitung
    von Daten zu infektionsepidemiologischen Zwecken regelt das
    Infektionsschutzgesetz (IfSG). 
  </p>
 
  <h2>Verantwortlicher:</h2>
  <p>
    Verantwortlicher gemäß Art. 4 Nr. 7 DSGVO für den Betrieb des DEMIS und des DEMIS-Meldeportals ist gemäß § 14 Abs. 1 IfSG das 
  </p>
  <p>
    Robert Koch-Institut<br />
    Nordufer 20<br />
    13353 Berlin<br />
    vertreten durch den Präsidenten<br />
  </p>
  <h2>Kontakt:</h2>
  <p>
    Sie erreichen uns unter: 
  </p>
  <p>
    Robert Koch-Institut<br />
    Nordufer 20<br />
    13353 Berlin<br />
  </p>
  <p>
    E-Mail: demis-support[at]rki.de<br />
    Telefon (Support-Hotline): 0800 - 000 3041 (Mo. - Fr. 9-17 Uhr)<br /> 
    Website: <a href="http://www.rki.de/demis">www.rki.de/demis</a>
  </p>
  <p>
    <i>Wir bitten Sie, bei Anfragen über diese Kommunikationswege - auch im
    Rahmen von Supportanfragen - keine Daten Dritter (insb. betroffener Personen
    im Sinne des IfSG) bereitzustellen.</i>
  </p>

  <h2>Datenschutzbeauftragte:</h2> <!-- Hier prüfen -->
  <p>
    E-Mail: <a href="https://www.rki.de/SharedDocs/Kontaktformulare/D/Datenschutz/DatenschutzIntegrator.html?nn=4976162">Datenschutz</a>
    oder unter datenschutz[at]rki.de<br />
    Postalisch: Unter o.g. Adresse mit dem Zusatz: &#34;z. Hd. Datenschutzbeauftragter&#34;
  </p>
 
  <h2>Allgemeines zur Datenverarbeitung im Zusammenhang mit der Meldung in DEMIS</h2>
  <h2>Umfang der Verarbeitung personenbezogener Daten</h2>
  <p>
    Sofern Sie mittels DEMIS Meldungen absetzen, werden hierfür grds. die
    personenbezogenen Daten verarbeitet, die erforderlich sind, um Ihre
    Anmeldung an DEMIS zu ermöglichen und die Meldung einzureichen. Daneben
    werden als Teil der Meldung die personenbezogenen Daten verarbeitet, die
    gesetzlich im jeweiligen Meldetatbestand vorgesehen sind. 
  </p>
  <p>
    <u>Aufruf des Meldeportals, Verarbeitung von Verbindungsdaten</u><br />
    Der Aufruf des Meldeportals ist grundsätzlich ohne die Angabe
    personenbezogener Daten möglich. Erst, wenn Sie sich für die Nutzung des
    Meldeportals anmelden und hierüber eine Meldung (z.B. Meldung
    meldepflichtiger Krankheiten oder Erreger gemäß §§ 6 ff. IfSG) vornehmen,
    ist die Angabe von Daten erforderlich. 
  </p>
  <p>
    Bei jeder Nutzung des Meldeportals werden Verbindungsdaten verarbeitet, die
    Ihr Browser automatisch übermittelt, um Ihnen den Besuch des Meldeportals zu
    ermöglichen. Diese Verbindungsdaten umfassen die sog.
    HTTP-Header-Informationen, einschließlich des User-Agents, und beinhalten
    insbesondere: 
  </p>
  <ul>
    <li>IP-Adresse des anfragenden Geräts</li>
    <li>Methode (z.B. GET, POST), Datum und Uhrzeit der Anfrage</li>
    <li>Adresse der angefragten Website, aufgerufene API (Schnittstelle)</li>
    <li>ggf. die zuvor aufgerufene Website/Datei (HTTP-Referrer)</li>
    <li>Angaben über den verwendeten Browser und das Betriebssystem</li>
    <li>Version des HTTP-Protokolls, HTTP-Statuscode</li>
    <li>Anfrageinformationen wie Sprache, Art des Inhalts, Kodierung des Inhalts, Zeichensätze</li>
    <li>auf dem Endgerät gespeicherte Cookies der aufgerufenen Domain, Authentifizierungs-Token aus dem Local Storage</li>
  </ul>
  <p>
    Die Verarbeitung dieser Verbindungsdaten ist unbedingt erforderlich, um den
    Besuch des Meldeportals zu ermöglichen, die dauerhafte Funktionsfähigkeit
    und Sicherheit der Systeme zu gewährleisten sowie um das Meldeportal
    allgemein administrativ zu pflegen. Die Verbindungsdaten werden zudem zu den
    zuvor beschriebenen Zwecken zeitweise und inhaltlich auf das Nötigste
    beschränkt in internen Logfiles gespeichert, um etwa im Falle von
    wiederholten oder in krimineller Absicht erfolgenden Aufrufen, welche die
    Stabilität und Sicherheit des Meldeportals gefährden, die Ursache hierfür zu
    finden und dagegen vorzugehen.<br />
    Rechtsgrundlage für diese Verarbeitung ist Art. 6 Abs. 1 lit. e DSGVO.<br />
  </p>
  <p>  
    Die Logfiles werden grundsätzlich aus Gründen der Informationssicherheit
    (insb. Erkennung und Untersuchung von Cyberangriffen, missbräuchlicher
    Nutzung) für bis zu 90 Tage gespeichert und anschließend gelöscht.
    Ausnahmsweise werden einzelne Logfiles und IP-Adressen länger aufbewahrt, um
    bspw. bei Cyber-Angriffen weitere Attacken von dieser IP-Adresse zu
    verhindern und im Wege der Strafverfolgung gegen die Angreifenden
    vorzugehen.
  </p>
  <p>
    <u>Cookies im DEMIS-Meldeportal</u><br />
    Im Rahmen der Nutzung des Meldeportals kommen ggf. Cookies und vergleichbare
    Technologien zum Einsatz. Cookies sind auf dem Endgerät gespeicherte
    Information, bestehend insbesondere aus einem Namen, einem Wert, der
    speichernden Domain und einem Ablaufdatum. Sogenannte Session-Cookies (z.B.
    AUTH_SESSION_ID) werden nach der Sitzung gelöscht, während sogenannte
    persistente Cookies nach dem festgelegten Ablaufdatum gelöscht werden.
    Cookies können auch manuell entfernt werden. Außerdem können Informationen
    im Web-Storage (Local Storage / Session-Storage) auf dem Endgerät
    gespeichert werden. Diese bestehen aus einem Namen und einem Wert.
    Informationen im Session-Storage werden nach der Sitzung gelöscht, während
    Informationen im Local Storage kein Ablaufdatum haben und grundsätzlich
    gespeichert bleiben, sofern kein Mechanismus zur Löschung eingerichtet wurde
    (z.B. Speicherung eines Local Storage mit Zeiteintrag). Informationen im
    Local und Session-Storage können auch manuell entfernt werden.<br />
  </p>
  <p>
    Die folgenden Cookies werden durch das Meldeportal gesetzt: 
  </p>
    <ul>
      <li>KEYCLOAK_SESSION: Speichert die Keycloak Session und User-ID nach der Anmeldung. (Lebensdauer: 8 Stunden nach Login)</li>
      <li>KEYCLOAK_IDENTITY: Speichert einen JSON-Web-Token für die aktuelle Keycloak-Session. (Lebensdauer: Bis die Session geschlossen wird)</li>
      <li>AUTH_SESSION_ID: Speichert die Keycloak-Session-ID und referenziert den Loginvorgang. (Lebensdauer: Bis die Session geschlossen wird)</li>
    </ul>
  <p>
    (Cookies mit der Ergänzung _LEGACY sind für die Unterstützung älterer
    Browser vorhanden und enthalten die gleichen Werte.)
  </p>
  <p>
    Diese Cookies sind für die Anmeldung im Meldeportal und damit für seinen
    Betrieb zwingend erforderlich.
  </p>
  <p>  
    Daneben haben Sie die Möglichkeit, freiwillig Informationen zu bspw. oft
    verwendeten Angaben (z.B. Krankheiten/Erreger/Meldende Einrichtung) zu
    speichern, sodass diese bei der nächsten Verwendung des Meldeportals
    priorisiert angezeigt werden. Die Speicherung erfolgt im Local Storage Ihres
    Browsers. Rechtsgrundlage der Verarbeitung ist Art. 6 Abs. 1 lit. e DSGVO.
  </p>
  <p>
    <u>Anmeldung</u><br />

    Die Anmeldung im DEMIS-Meldeportal kann über verschiedene Identitätsdienste
    wie den <a href="https://fachportal.gematik.de/hersteller-anbieter/komponenten-dienste/identity-provider-idp">
    gematik IdP</a>, die <a href="https://id.bund.de/de">BundID</a> oder 
    <a href="https://info.mein-unternehmenskonto.de/">Mein Unternehmenskonto</a>
    erfolgen.  Hierbei werden von den jeweiligen Diensten die notwendigen
    Informationen abgerufen, um die Anmeldung zu ermöglichen (z.B. verwendeter
    Identitätsdienst, ob die Anmeldung als Person oder Unternehmen erfolgte, das
    verwendete Vertrauensniveau, spezifisches Kennzeichen/Identifier des
    Nutzerkontos beim jeweiligen Identitätsdienst, ggf. Organisationstyp, -name
    und -anschrift).  Diese Daten werden in DEMIS übertragen und bei der ersten
    Nutzung zur Anlage eines Nutzerkontos verwendet. Anschließend können Sie
    sich über eine erneute Anmeldung über den jeweiligen Identitätsdienst in
    Ihrem Nutzerkonto anmelden.
  </p>
  <p>   
    Weitere Informationen zur BundID finden Sie unter <a href="https://id.bund.de/de/datasecurity">
    https://id.bund.de/de/datasecurity</a>.
  </p>
  <p>
    Rechtsgrundlage der Verarbeitung von personenbezogenen Daten aus einem
    Nutzerkonto nach dem Online-Zugangsgesetz (OZG) ist Ihre Einwilligung
    (Art. 6 Abs. 1 lit. a DSGVO).<br />
    Im Übrigen ist die Rechtsgrundlage der Verarbeitung Art. 6 Abs. 1 lit. e
    DSGVO. 
  </p>
  <p>
    <u>Meldung</u><br />
    Sofern Sie über das Meldeportal oder anderweitig eine Meldung in DEMIS
    vornehmen, werden die im Rahmen des Meldeformulars bzw. der von Ihnen
    verwendeten Software gemachten inhaltlichen Angaben in DEMIS übermittelt und
    dort nach den Vorgaben des IfSG verarbeitet. Sofern dies im IfSG vorgesehen
    oder für den sicheren Betrieb des DEMIS erforderlich ist, werden die
    Daten ggf. auch an andere Empfänger übermittelt (bspw. das zuständige
    Gesundheitsamt). Dies betrifft neben den Meldungsinhalten zur betroffenen
    Person i.S.d. IfSG auch Angaben zur meldenden bzw. meldepflichtigen Person,
    insb. Name, Anschrift, Kontaktdaten, die lebenslange Arztnummer und die
    Betriebsstättennummer.<br />
    Die im Identitätsdienst gespeicherten Nutzerdaten der Anmeldung werden in
    alle Meldungen an das zuständige Gesundheitsamt automatisiert eingebettet,
    um die Kontextualisierung der Meldung zu ermöglichen und so sicherstellen zu
    können, dass das Meldungsverfahren richtig und missbrauchsfrei funktioniert.
  </p>
  <p>
    Nach erfolgter Meldung erhalten Sie eine Meldungsquittung mit den Inhalten
    der abgegebenen Meldung, damit Sie überprüfen können, ob die Meldung
    ordnungsgemäß erfolgt ist. Diese Meldungsquittung wird nicht in DEMIS
    gespeichert. 
  </p>
  <p>
    Rechtsgrundlage für diese Verarbeitung ist Art. 6 Abs. 1 lit. c DSGVO,
    soweit die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung
    erforderlich ist, der das RKI unterliegt und im Übrigen
    Art. 6 Abs. 1 lit. e DSGVO, soweit die Verarbeitung für die Wahrnehmung
    einer Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in
    Ausübung öffentlicher Gewalt erfolgt, die dem RKI übertragen wurde. 
  </p>
  <p>
    <u>Kontaktaufnahme</u><br />
    Sie können mit uns über die oben genannten Kontaktdaten in Verbindung
    treten, z.B. im Rahmen von Support-Anfragen, allgemeinen Fragen oder um uns
    auf bestimmte Dinge aufmerksam zu machen. Ihre im Rahmen der Kontaktaufnahme
    angegebenen/übermittelten personenbezogenen Daten werden zur Bearbeitung
    Ihrer Anfrage verarbeitet und ggf., soweit dies erforderlich ist, um
    anlässlich Ihrer Anfrage weitere Maßnahmen zu ergreifen. 
  </p>
  <p>
    Rechtsgrundlage der Verarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, soweit sie
    für die Erfüllung eines Vertrags, dessen Vertragspartei Sie sind, oder zur
    Durchführung vorvertraglicher Maßnahmen auf Ihre Anfrage hin erforderlich
    ist, und im Übrigen Art. 6 Abs. 1 lit. e DSGVO. 
  </p>

  <h2>Speicherdauer</h2>
  <p>
    Die im Rahmen der Anmeldung übermittelten Daten werden grds. so lange
    gespeichert, wie der Nutzeraccount besteht. Diese werden bei Inaktivität
    regelmäßig nach 3 Tagen gelöscht. Alternativ können Sie auch über die o.g.
    Kontaktdaten eine Löschung des Accounts verlangen. In besonderen Fällen
    kommt auch eine längere Vorhaltung in Betracht (etwa sofern Rechte gesondert
    vergeben oder entzogen werden müssen). In diesen Fällen wird der Account
    aufbewahrt, bis die Gründe hierfür entfallen.
  </p>
  <p>
    Die über DEMIS erfolgten Meldungen werden grds. nur so lange vorgehalten,
    wie dies erforderlich ist, um die Zwecke ihrer Erhebung zu erfüllen.  Die
    Speicherung personenbezogener Daten beim RKI erfolgt im Übrigen im Einklang
    mit der Richtlinie für das Bearbeiten und Verwaltung von Schriftgut in
    Bundesministerien, die im RKI als Registraturrichtlinie (RegR) umgesetzt
    ist.
  </p>

  <h2>Empfänger</h2>
  <p>
    Eine Weitergabe der vom RKI erhobenen Daten erfolgt grundsätzlich nur, wenn
    hierfür im konkreten Fall eine datenschutzrechtliche Rechtsgrundlage vorliegt,
    insbesondere wenn: 
  </p>
  <ul>
    <li>
      Sie nach Art. 6 Abs. 1 lit. a DSGVO Ihre ausdrückliche Einwilligung dazu
      erteilt haben,
    </li>
    <li>
      die Weitergabe nach Art. 6 Abs. 1 lit. e DSGVO für die Wahrnehmung einer
      Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in
      Ausübung öffentlicher Gewalt erfolgt, die dem RKI übertragen wurde,
    </li>
    <li>
      das RKI nach Art. 6 Abs. 1 lit. c DSGVO zur Weitergabe gesetzlich
      verpflichtet ist, insbesondere wenn dies aufgrund von behördlichen
      Anfragen, Gerichtsbeschlüssen und Rechtsverfahren für die Rechtsverfolgung
      oder -durchsetzung erforderlich ist, oder
    </li>
    <li>
      dies gesetzlich zulässig und nach Art. 6 Abs. 1 lit. b DSGVO für die
      Abwicklung von Vertragsverhältnissen mit Ihnen oder für die Durchführung
      vorvertraglicher Maßnahmen erforderlich ist, die auf Ihre Anfrage hin
      erfolgen.
    </li>
  </ul>
  <p>
    Im Rahmen der Wahrnehmung seiner öffentlichen Aufgaben übermittelt das RKI
    personenbezogene Daten ggf. an andere öffentliche Stellen des Bundes oder der
    Länder. Dies betrifft insbesondere Stellen des Öffentlichen
    Gesundheitsdienstes (ÖGD), z.B. Gesundheitsämter.<br />
    Die Gesellschaft für Telematik nach § 306 Abs. 1 S. 3 SGB V (gematik)
    unterstützt das RKI bei der Entwicklung und dem Betrieb des DEMIS, vgl. § 14
    Abs. 1 S. 5 IfSG. Hierbei kann es zur Verarbeitung personenbezogener Daten
    kommen. 
  </p>
  
  <h2>Datenübermittlung in Drittländer</h2>
  <p>
    Eine Datenübermittlung in Länder außerhalb der EU/des Europäischen
    Wirtschaftsraums, deren Datenschutzniveau nicht dem der Europäischen Union
    entspricht (sog. Drittländer), findet im Rahmen des DEMIS grds. nicht statt.
  </p> 

  <h2>Ihre Datenschutzrechte (Rechte der betroffenen Person)</h2> 
  <p>
    Soweit wir personenbezogene Daten von Ihnen verarbeiten, stehen Ihnen folgende
    Datenschutzrechte zu: 
  </p>
  <ul>
    <li>
      das Recht, jederzeit Auskunft über die Verarbeitung Ihrer
      personenbezogenen Daten zu erhalten (Art. 15 DSGVO), 
    </li>
    <li>
      das Recht auf Berichtigung unrichtiger Daten oder Vervollständigung
      lückenhafter Daten (Art. 16 DSGVO), 
    </li>
    <li>
      das Recht, Daten nach den gesetzlichen Vorgaben löschen oder in der
      Verarbeitung einschränken zu lassen (z.B. bei Widerruf Ihrer Einwilligung
      oder unrechtmäßiger Verarbeitung) (Art. 17, 18 DSGVO), 
    </li>
    <li>
      <b>das Recht, bei einer auf Einwilligung beruhenden Datenverarbeitung Ihre
      Einwilligung jederzeit mit Wirkung für die Zukunft zu widerrufen (Art. 7
      Abs. 3 DSGVO),</b>
    </li>
    <li>
      das Recht auf Datenübertragbarkeit (Sie können eine Übersicht Ihrer Daten
      in einem elektronischen Format zur Verfügung gestellt bekommen) (Art. 20
      DSGVO), 
    </li>
    <li class="li-border">
      das Recht auf Widerspruch gegen die Datenverarbeitung, die für die
      Wahrnehmung von öffentlichen Aufgaben oder in Ausübung öffentlicher Gewalt
      erfolgt (Art. 21 DSGVO) 
    </li>
    <li>
      das Recht, die Datenschutzbeauftragte des RKI zu kontaktieren und Ihr
      Anliegen vorzubringen (Art. 38 Abs. 4 DSGVO) und 
    </li>
    <li>
      das Recht, sich bei der zuständigen Aufsichtsbehörde für den Datenschutz
      zu beschweren, (Der Bundesbeauftragte für den Datenschutz und die
      Informationsfreiheit, Graurheindorfer Str. 153 - 53117 Bonn, +49
      (0)228-997799-0, E-Mail: poststelle(at)bfdi.bund.de, <a
      href="https://www.bfdi.bund.de">https://www.bfdi.bund.de</a>) (Art. 77
      Abs. 1 DSGVO). 
    </li>
  </ul>
</div>
