<ng-template #commonContent>
  <div id="new-welcome-container" class="container">
    <div>
      <section [attr.aria-labelledby]="'welcome-demis-heading'">
        <div id="welcome-texts-container">
          <h1 id="welcome-demis-heading">Willkommen im DEMIS-Meldeportal</h1>

          @if (isAuthenticated()) {
            <p class="welcome-demis-text">
              {{ AppConstants.InfoTexts.ABOUT_AUTHENTICATED }}
            </p>
            <p class="welcome-demis-text">
              Bei Fragen steht Ihnen der DEMIS-Support via E-Mail an <a href="mailto:demis-support@rki.de"
                                                                        aria-label="E-Mail an den DEMIS-Support senden">demis-support&#64;rki.de</a>&nbsp;gern
              zur Verfügung.
            </p>
          }

          @if (!isAuthenticated()) {
            <p class="welcome-demis-text">
              {{ AppConstants.InfoTexts.ABOUT_UNAUTHENTICATED }}
            </p>
            <p class="welcome-demis-text">
              Weitere Informationen zu DEMIS finden Sie in der
              <a href="https://wiki.gematik.de/spaces/DSKB/overview" target="_blank" rel="noopener noreferrer"
                 aria-label="DEMIS-Wissensdatenbank öffnen">DEMIS-Wissensdatenbank</a>.
              Hier finden Sie auch
              <a href="https://wiki.gematik.de/x/TX1NJw" target="_blank" rel="noopener noreferrer"
                 aria-label="Schulungsvideos zum Meldeportal öffnen">Schulungsvideos zum Meldeportal</a>. Bei Fragen
              steht Ihnen der DEMIS-Support via E-Mail an
              <a href="mailto:demis-support@rki.de" aria-label="E-Mail an den DEMIS-Support senden">
                demis-support&#64;rki.de</a>&nbsp;gern zur Verfügung.<br><br>
            </p>
            <p class="welcome-demis-text">
              Anmeldung: Die Nutzung des Meldeportals setzt eine Authentisierung voraus.
            </p>
          }
          @if (!isAuthenticated()) {
            <button type="button" mat-button id="btn-welcome-auth-login" (click)="login()">
              Zur Anmeldung
              <mat-icon class="logIn-btn_chevron-right">chevron_right</mat-icon>
            </button>
          }
        </div>
      </section>
    </div>
    <main id="main">
      <div id="welcome-tiles-container" class="row">
        @for (tile of tiles; let index = $index; track index) {
          @if ((tile.renderingCondition === undefined) || tile.renderingCondition) {
            <app-welcome-tile class="column" id="welcome-tile-{{ tile.config.id }}" [config]="tile.config"
                              [animated]="true"
                              [isExpanded]="expandedTileIndex() === index"
                              (toggle)="changeExpandedStateForTile(index)">
            </app-welcome-tile>
          }
        }
      </div>
    </main>
  </div>
</ng-template>

@if (!FEATURE_FLAG_PORTAL_HEADER_FOOTER()) {
  <div [ngClass]="{ 'page-wrapper': isAuthenticated() }">
    <gem-demis-max-height-content-container [elementSelectorsToSubtract]="['app-navbar', 'footer']">
      <ng-container *ngTemplateOutlet="commonContent"></ng-container>
    </gem-demis-max-height-content-container>

    <footer class="footer_deprecated bottom-positioned">
      <div class="EU-logo">
        <img ngSrc="assets/images/EU-logo.jpg" [priority]="true" alt="Finanziert von der Europäischen Union" height="48"
             width="185">
      </div>
      @if (isAuthenticated()) {
        <div class="authenticated-as" id="start-username">Eingeloggt als {{ userInfo().username }}</div>
      }
    </footer>
  </div>
}

@if (FEATURE_FLAG_PORTAL_HEADER_FOOTER()) {
  <gem-demis-max-height-content-container [elementSelectorsToSubtract]="['app-navbar']">
    <div class="page-wrapper" [ngClass]="{ 'logged-in': isAuthenticated(), 'logged-out': !isAuthenticated() }">
      <main class="content" role="main">
        <ng-container *ngTemplateOutlet="commonContent"></ng-container>
      </main>
      <footer class="footer" role="contentinfo">
        <div class="footer-inner">
          <div class="footer-left">
            <div class="RKI-logo">
              <img ngSrc="assets/images/RKI-logo.svg" [priority]="true" alt="Robert Koch Institut" height="48"
                   width="192"/>
            </div>
            <div class="EU-logo">
              <img ngSrc="assets/images/EU-logo.jpg" [priority]="true" alt="Finanziert von der Europäischen Union"
                   height="58" width="224"/>
            </div>
          </div>

          <div class="footer-right">
            <div class="footer-right-top">
              @if (isAuthenticated()) {
                <div class="authenticated-as" id="start-username">Eingeloggt als {{ userInfo().username }}</div>
              }
            </div>

            <nav class="footer-right-bottom" aria-label="Footer Navigation">
              <a href="#impressum">Impressum</a>
              <a href="#privacy-policy">Datenschutz</a>
              <!-- <a href="#accessibility-statement">Barrierefreiheit</a> -->
            </nav>
          </div>
        </div>
      </footer>
    </div>
  </gem-demis-max-height-content-container>
}
