.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding-bottom: 60px;
}

.container, #new-welcome-container {
  max-width: 60vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#welcome-demis-heading {
  text-align: center;
  margin-top: 3%;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
}

.welcome-demis-text {
  font-size: 17px;
  line-height: 22px;
  max-width: 980px;
}

//deprecated: can be removed when FEATURE_FLAG_PORTAL_HEADER_FOOTER is removed
.bottom-positioned {
  position: absolute;
  bottom: 0;
}

#btn-welcome-auth-login {
  margin-top: 2.5%;
  border: 1px solid black;
  border-radius: 24px;
  display: flex;
  align-items: center;
  //callout
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-primary);

  &:hover {
    background-color: #F9F9F9;
  }
}

#btn-welcome-auth-login span {
  order: 1;
}

#btn-welcome-auth-login mat-icon {
  order: 2;
  margin-left: 8px;
  margin-right: 0;
}

#welcome-tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logIn-btn_chevron-right {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: 700;
}

.footer_deprecated {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  //still needed for deprecated footer but must not be there in new footer
  .authenticated-as {
    padding-right: 10px;
  }
}

.footer {
  flex-shrink: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5); // 50% opacity for background
  text-align: center;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 24px;
  grid-template-rows: auto auto;
  align-items: end;
}

// logos
.footer-left {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  align-items: flex-end;
  gap: 60px;
}

// logged-in info
.footer-right {
  display: grid;
  grid-template-rows: 20px auto; // two rows: top for logged-in info, bottom for links - 20px height for "eingeloggt als" placeholder when empty
  row-gap: 12px;
  justify-items: end;
  text-align: right;
}

// links (impressum, privacy policy, accessibility)
.footer-right-bottom {
  grid-row: 2;
  display: inline-flex;
  gap: 30px;
  align-items: flex-end;
}

.footer-right-bottom a {
  color: var(--color-primary);
  text-decoration: none;
}

//accessibility focus styles
.footer-right-bottom a:hover,
.footer-right-bottom a:focus {
  text-decoration: underline;
  outline: none;
}

//accessibility tab styles
.footer-right-bottom a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.EU-logo {
  display: flex;
  gap: 20px;
}

.authenticated-as {
  color: var(--color-neutral-dark);
  font-size: 12px;
  text-align: right;
  display: flex;
  margin-bottom: 5px;
}

// responsive footer
@media (max-width: 992px) {
  .footer-inner {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 12px;
    padding: 20px;
    justify-items: center;
    text-align: center;
  }

  .footer-right {
    grid-column: 1;
    grid-row: 1;
    justify-items: center;
    row-gap: 15px;

    grid-template-rows: auto auto; //no space for logged-in info when responsive
    text-align: center
  }

  .footer-left {
    grid-column: 1;
    grid-row: 3;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .footer-right-bottom {
    grid-column: 1;
    grid-row: 2;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
}
