.page-wrapper {
  min-height: calc(100vh - 142px); //navbar height + footer height
  display: flex;
  flex-direction: column;
}

.container, #new-welcome-container {
  flex: 1;
  max-width: 60vw;
  align-items: center;
  flex-direction: column;
  display: flex
}

#welcome-demis-heading {
  text-align: center;
  margin-top: 3%;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
}

.welcome-demis-text {
  font-size: 17px;
  line-height: 22px;
  max-width: 980px;
}

.unauthenticated {
  position: absolute;
  bottom: 0;
}

.footer {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.EU-logo {
  display: flex;
  gap: 20px;
}

.authenticated-as {
  color: #aaa;
  font-size: 12px;
  text-align: right;
  display: flex;
  padding-right: 10px;
  margin-bottom: 5px;
}

#btn-welcome-auth-login {
  margin-top: 2.5%;
  border: 1px solid black;
  border-radius: 24px;
  display: flex;
  align-items: center;
  //callout
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-primary);

  &:hover {
    background-color: #F9F9F9;
  }
}

#btn-welcome-auth-login span {
  order: 1;
}

#btn-welcome-auth-login mat-icon {
  order: 2;
  margin-left: 8px;
  margin-right: 0;
}

#welcome-tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logIn-btn_chevron-right {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: 700;
}
