<div [ngClass]="{ 'page-wrapper': isAuthenticated() }">
  <div id="new-welcome-container" class="container">
    <div>
      <div id="welcome-texts-container">
        <h2 id="welcome-demis-heading">Willkommen bei DEMIS</h2>
        <p class="welcome-demis-text">{{ AppConstants.InfoTexts.ABOUT }}</p>
        <p class="welcome-demis-text">{{ AppConstants.InfoTexts.KNOWLEDGE_DATABASE }}
          <a target="_blank" rel="noopener noreferrer"
             href="{{AppConstants.ExternalLinks.DEMIS_WDB}}">{{ AppConstants.Labels.DEMIS_KNOWLEDGE_DATABASE_LINK }}</a>
        </p>
      </div>
      @if (!isAuthenticated()) {
        <button type="button" mat-button id="btn-welcome-auth-login" (click)="login()">
          Anmelden
          <mat-icon class="logIn-btn_chevron-right">chevron_right</mat-icon>
        </button>
      }
    </div>
    <div id="welcome-tiles-container" class="row">
      @for (tile of tiles; track $index) {
        @if ((tile.renderingCondition === undefined) || tile.renderingCondition) {
          <app-welcome-tile class="column" id="welcome-tile-{{ tile.config.id }}"
                                [config]="tile.config"
                                [animated]="true"></app-welcome-tile>
        }
      }
    </div>
  </div>
</div>

@if (isAuthenticated()) {
  <footer class="footer">
    <div class="EU-logo">
      <img ngSrc="assets/images/EU-logo.jpg" [priority]="true"
           alt="Finanziert von der Europäischen Union"
           height="78"
           width="300"
      >
    </div>
    <div class="authenticated-as" id="start-username">Eingeloggt als {{ userInfo().username }}</div>
  </footer>
} @else {
  <div class="unauthenticated">
    <img ngSrc="assets/images/EU-logo.jpg" [priority]="true"
         alt="Finanziert von der Europäischen Union"
         height="78"
         width="300"
    >
  </div>
}
