//#region GlobalImports

// Nur bootstraps grid-system nutzen
@import 'node_modules/bootstrap/scss/bootstrap-grid';

// Deprecated
@import 'styles/demis-color-and-palettes';
// Colors and Palettes
@import 'styles/colors';
//#endregion GlobalImports


:root {
  --two-column-length: 5;
}

//#region GlobalStyles
html,
body,
app-root,
.app-frame {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  letter-spacing: normal;
  background-color: unset !important;
}

//TODO: moved here from pathogen; needed for all h2 spacing between e.g. Einrichtung and above text paragraph
// needs to be fixed because it needs overrides at other places e.g. homepage/welcome-tile
h2 {
  padding-top: 15px;
}

//#endregion GlobalStyles

//#region MaterialStyles
.mat-sidenav, .mat-drawer {
  border-right-color: $color-demis-stroke !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

//background-color needs extra override for IGS content
.mat-app-background {
  background-color: unset !important;
}

.mat-drawer-container {
  background-color: unset !important;
}

app-side-navigation {
  min-height: 100%;

  app-paste-box {
    margin: 3rem;
  }
}

.justify {
  justify-content: center;
}

// information icon
.material-icons.md-48 {
  margin-top: 5px;
  margin-right: 5px;
  color: #005eb8;
}

// navbar styling - must stay here atm to work for other microfrontends
.app-navbar-demis {
  .mat-mdc-tab-link > span.mdc-tab__content > span.mdc-tab__text-label {
    color: var(--color-demis-black);
  }
}

//moved here from bed-occupancy
.mat-mdc-table {
  background-color: var(--color-demis-white) !important;
}

// Custom styles for the mdc-checkbox (unsets background-color, delets ruler, padding and hover-overlay)
.mat-mdc-form-field-type-checkbox {
  .mdc-text-field--filled {
    background-color: unset !important;
  }

  .mat-mdc-text-field-wrapper {
    padding: 0;

    .mat-mdc-form-field-focus-overlay {
      display: none;
    }

    .mdc-line-ripple {
      display: none;
    }

    .mat-mdc-form-field-infix {
      padding: 0 !important;
      min-height: unset;
    }
  }
}

//TODO: analyze why this component needs specific override
// Burger-Menu items font style override
.mat-mdc-menu-content {
  .mat-mdc-menu-item {
    font-family: Verdana, sans-serif;
  }
}
